# Auto detect text files and perform LF normalization
* text=auto
flask/emotion_model.h5 filter=lfs diff=lfs merge=lfs -text
flask/Genre_Classifier_model.h5 filter=lfs diff=lfs merge=lfs -text
Tech_Jam_Demo.mp4 filter=lfs diff=lfs merge=lfs -text
